<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"className":"dp-section dp-section-reading dp-page","layout":{"type":"constrained"}} -->
<div class="wp-block-group dp-section dp-section-reading dp-page"><!-- wp:post-title {"level":1,"className":"dp-post-title"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"dpaternina/cta-band"} /-->

<!-- wp:template-part {"slug":"footer"} /-->
